@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .animate-scroll {
    animation: scroll 30s linear infinite;
  }

  .custom-scrollbar::-webkit-scrollbar {
      display: none; /* Hide scrollbar for webkit browsers */
  }

  .custom-scrollbar {
      -ms-overflow-style: none;  /* Hide scrollbar for IE and Edge */
      scrollbar-width: none; /* Hide scrollbar for Firefox */
  }

  .karantina-bold {
    font-family: "Karantina";
    font-weight: 600;
    font-style: normal;
  }

  .karantina-regular {
    font-family: "Karantina";
    font-weight: 400;
    font-style: normal;
  }
  
  
