@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add this in your globals.css or tailwind.css */
/* Add this in your globals.css or tailwind.css */
@keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .animate-scroll {
    animation: scroll 30s linear infinite;
  }

  .custom-scrollbar::-webkit-scrollbar {
      display: none; /* Hide scrollbar for webkit browsers */
  }

  .custom-scrollbar {
      -ms-overflow-style: none;  /* Hide scrollbar for IE and Edge */
      scrollbar-width: none; /* Hide scrollbar for Firefox */
  }
