@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .animate-scroll {
    animation: scroll 30s linear infinite;
  }

  .custom-scrollbar::-webkit-scrollbar {
      display: none; /* Hide scrollbar for webkit browsers */
  }

  .custom-scrollbar {
      -ms-overflow-style: none;  /* Hide scrollbar for IE and Edge */
      scrollbar-width: none; /* Hide scrollbar for Firefox */
  }

  .karantina-bold {
    font-family: "Karantina";
    font-weight: 600;
    font-style: normal;
  }

@font-face{
  font-family: 'MB';
  src: url('./fonts/Melodrama-Bold.woff2') format('woff2');
}
@font-face{
  font-family: 'CB';
  src: url('./fonts/ClashDisplay-Bold.woff2') format('woff2');
}
@font-face{
  font-family: 'Excon';
  src: url('./fonts/Excon-Medium.woff') format('woff');
}
@font-face{
  font-family: 'Array';
  src: url('./fonts/Array-Bold.woff2') format('woff2');
}
@font-face{
  font-family: 'Khand';
  src: url('./fonts/Khand-Light.woff2') format('woff2');
}
@font-face{
  font-family: 'Technor';
  src: url('./fonts/Technor-Medium.woff2') format('woff2');
}
@font-face{
  font-family: 'GMVF';
  src: url('./fonts/GeistMonoVF.woff') format('woff');
}
@font-face{
  font-family: 'GVF';
  src: url('./fonts/GeistVF.woff') format('woff');
}
@font-face{
  font-family: 'LM';
  src: url('./fonts/LEMONMILK-Regular.woff2') format('woff2');
}


html::-webkit-scrollbar{
  display:none;
}



